*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: #8f9ace;
    height: 100vh;

}
nav{
    display: flex;
background: #606ed8;
justify-content: space-between;
align-items: center;
color: white;
padding: 15px 20px;
}
.logo{
    color: red;
    font-size: 30px;
    text-transform: capitalize;

    
}
.navbar{
    display: flex;
    align-items: center;

}
.navbar a{
    text-decoration: none;
   
    margin: 0px 30px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
}
.navbar a::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
    height: 4px;
    transition: width 0.7s linear;

}
.navbar a:hover::after{
  
    border-bottom: 3px solid rgb(241, 185, 1);
width: 100%;    
    
}
.navbar a:hover{
    color: rgb(62, 253, 177);
}
.icons{ 
    font-size: 30px;
    color: black;
   padding-right: 12px;
   align-items: center;
   display: none;
}
@media (max-width: 600px){

    .navbar{
        display:none;
    }
.icons{
    display: block;
    cursor: pointer;
}
.showData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: gray;
    position: absolute;
    right: 40%;
    top: 65px;
    width: 100%;
  left: 0;
 padding: 15px 0px;
 
 transition-duration: 1.5s;
   
}
}